<%= link_to 'Add New Course', new_group_path, class: 'btn btn-primary' %>
<div class="capybara_wait"></div>

<%= puts "I AM HERE IN GROUPS#INDEX" %>
<div class="card">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="#">Active Courses</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Disabled Courses</a>
      </li>
    </ul>
  </div>
  <div class="">
    <%= render 'layouts/active_courses' %>
  </div>
</div>