
<div class="container">
  <div class="card border-light mb-3" style="max-width: 18rem;">
    <div class="card-header">Course Name</div>
    <div class="card-body">
      <h5 class="card-title"><%= @group.name %></h5>
    </div>
  </div>
  <div class="card border-light mb-3" style="max-width: 18rem;">
    <div class="card-header">Description</div>
    <div class="card-body">
      <p class="card-text"><%= @group.description %></p>
    </div>
  </div>
</div>