/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";



$font-url: url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,600;0,800;1,200;1,400;1,600&display=swap');


// Color setup
$main: #3778c2;
$second: #5fb523;
$text: #434b54;

body {
    background: $main;
}

//***************************
//**       NAVBAR         ***
//***************************

.app-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-family: Montserrat;
    font-size: 1.5em;
    height: 60px;
    background: $main;
    color: #fff;
    position: relative;

    #app-title {
        font-family: Montserrat;
        font-weight: 600;
        font-size: 1.5em;
    }
}

// Burger icon

.header-burger {
    width: 60px;
    cursor: pointer;
}

.header-burger>span {
    margin-top: 6px;
    margin-bottom: 6px;
}

.header-burger>span,
.header-burger::before,
.header-burger::after {
    content: "";
    display: block;
    width: 30px;
    height: 3px;
    background-color: #FFF;
    margin-left: auto;
    margin-right: auto;
}