/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap";

//***************************
//**      FONTS           ***
//***************************

//$font-url: url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,600;0,800;1,200;1,400;1,600&display=swap');

@font-face {
    font-family: 'ProximaThin';
    src: url('proxima/ProximaNovaThin.otf') format('opentype');
}

@font-face {
    font-family: 'ProximaReg';
    src: url('proxima/ProximaNovaRegular.otf') format('opentype');
}

@font-face {
    font-family: 'ProximaBold';
    src: url('proxima/ProximaNovaBold.otf') format('opentype');
}



// Color setup
$main: #3778c2;
$second: #5fb523;
$text: #434b54;
$icons_off: #d8d8d8;
$icons_on: #5fb523;

body {
    background: $main;
    font-family: ProximaReg;
    height: 80vh;

}

//***************************
//**      GENERIC         ***
//***************************

//Class impacting welcome list menu
.main-style {
    background: none;
    border: none;
    font-family: ProximaReg;
    color: #fff
}

.list-group-item {
    background: $main;
    font-size: 1.5rem;
}

.shadows {
    -webkit-box-shadow: -1px 0px 11px -1px rgba(0, 0, 0, 0.17);
    -moz-box-shadow: -1px 0px 11px -1px rgba(0, 0, 0, 0.17);
    box-shadow: -1px 0px 11px -1px rgba(0, 0, 0, 0.17);
}

.small-text {
    font-family: ProximaReg;
    font-size: 0.7rem;
    backgroud: $second;
}


.user-name {
    font-family: ProximaReg;
    font-size: 1.1rem;
    backgroud: $second;
}


//***************************************************
//**      confirmation modal initial setup        ***
//***************************************************

#confirmation {
    display: none;
}

//*****************************************************
//**     index display courses initial setup        ***
//*****************************************************

.disabled {
    display: none;
}

.enabled {
    display: block;
}

//***************************
//**       NAVBAR         ***
//***************************

.nav-wrap {
    display: block;
    height: 5vh;
    margin-top: 5%
}

.app-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 20%;
    background: $main;
    color: #fff;
    position: relative;

    a {
        font-family: ProximaReg;
        text-decoration: none;
        color: white;
    }

    .nav-item {
        font-size: 3rem
    }


    .app-title {
        color: #fff !important;
        flex-basis: 80%;
        text-decoration: none;
        font-family: ProximaBold;
        font-weight: 600;
        font-size: 5.0rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #app-title:hover {
        color: white;
        text-decoration: none;
    }

}

// Burger icon

.header-burger {
    width: 15%;
    cursor: pointer;
}

.header-burger>span {
    margin-top: 10%;
    margin-bottom: 10%;
}

.header-burger>span,
.header-burger::before,
.header-burger::after {
    content: "";
    display: block;
    width: 50%;
    height: 10px;
    background-color: #FFF;
    margin-left: auto;
    margin-right: auto;
}

//***************************************
//**       welcome page               ***
//***************************************

.user-avatar {
    padding: 1px 6px;
    text-aligment: center;

    svg {
        width: 60%;
        fill: #ffc107;
        margin-top: 6px;
        z-index: 99;
    }
}



//***************************************
//**       COURSE CARDS INDEX         ***
//***************************************


// Personalised badges

.badge-info {
    background-color: $second;
    padding: 8px;
}

// Pesonalised buttons

#sign-out-button {
    background: $second !important;
}

.more-info-btn {
    color: #fff;
    background-color: $main;
    border-color: $main;
    padding: 1px 4px;
}

.icon-btn {
    padding: 1px 6px;

    svg {
        fill: $text;
        margin-top: 6px;
    }
}

.confirmation-svg {
    padding: 1px 6px;
    width: 25%;

    svg {
        fill: $second;
        margin-top: 6px;
    }
}

.main-link-icon {
    padding: 1px 6px;
    background-color: transparent;
    border: none;

    svg {
        fill: #fff;
        margin-top: 6px;
    }
}

.card-footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.course-on-btn {
    padding: 1px 6px;

    svg {
        fill: $icons_on;
        margin-top: 6px;
    }
}

.course-off-btn {
    padding: 1px 6px;

    svg {
        fill: $icons_off;
        margin-top: 6px;
    }
}


//***************************************
//**      SINGLE COURSE VIEW          ***
//***************************************

//Toggle Icons

.toggle {
    width: 40px
}

//

.card-header {
    padding-top: 4px;
    padding-bottom: 4px;
    font-family: ProximaBold;
    font-size: 1rem;
}

.card-body {
    padding-top: 10px;
    padding-bottom: 10px;
}

.course-description {
    .card-text {
        padding-top: 2px;
        padding-bottom: 2px;
        font-weight: 200;
        font-size: 0.9rem;
    }
}

.course-session {
    div {
        font-family: ProximaBold;
        font-size: 1rem;
    }

    li {
        padding-top: 2px;
        padding-bottom: 2px;
        font-weight: 400;
        font-size: 0.9rem;
        align-items: center;
    }
}

.course-delivery {
    div {
        font-family: ProximaBold;
        font-size: 1rem;
    }

    li {
        padding-top: 2px;
        padding-bottom: 2px;
        font-weight: 400;
        font-size: 0.9rem;
        align-items: center;
    }
}

//***************************************
//**      enrolls approval         ***
//***************************************