<div class="container">
    <div class="navbar">
        <span class="header-burger">
            <span></span>
        </span>
        <div id="app-title">Lesson Lab</div>
        <div>Logged user</div>
    </div>
</div>